{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "prettier",
    "standard"
  ],
  "rules": {
    "standard/computed-property-even-spacing": 0,
    "operator-linebreak": 0,
    "prefer-promise-reject-errors": 0,
    "no-mixed-operators": 0,
    "indent": 0
  }
}
