@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
.__similarproducts * {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  outline: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: inherit;
  position: static;
  float: none;
  background: none;
  font: normal normal 100%/1 sans-serif; }
.__similarproducts ul {
  list-style: none; }
.__similarproducts a {
  text-decoration: none; }
.__similarproducts a:hover {
  text-decoration: none; }
.__similarproducts :focus {
  outline: none; }

.__similarproducts_inimg_margin {
  margin-bottom: 110px !important; }

#similarproducts_inimg {
  position: absolute;
  margin-top: 10px;
  font-family: Arial,sans-serif;
  text-align: center;
  z-index: 1980000; }
  #similarproducts_inimg .sprites {
    background-image: url("../images/inimg2/inimg_tiles_en.png");
    background-repeat: no-repeat; }
  #similarproducts_inimg .container {
    display: inline-block;
    background: 0 none;
    text-align: left;
    position: relative;
    width: auto;
    padding: 0 0 14px 0;
    border-radius: 5px;
    margin-left: -6px; }
  #similarproducts_inimg .container:hover {
    opacity: 1; }
  #similarproducts_inimg .explore_button {
    float: left;
    width: 26px;
    margin: 0px 4px 0 0;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 7px center;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    border-radius: 5px 0 0 5px; }
  #similarproducts_inimg .explore_button .label {
    display: none; }
  #similarproducts_inimg .more_button {
    position: relative;
    float: left;
    clear: right;
    width: 34px;
    background: url("../images/inimg2/moretr.png") no-repeat 11px 43% white;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    border-radius: 0 5px 5px 0; }
  #similarproducts_inimg .more_button .arrow {
    display: none; }
  #similarproducts_inimg .more_button .label {
    position: absolute;
    font-size: 9px;
    color: #666666;
    width: 100%;
    top: 50%;
    margin-top: 15px;
    text-align: center;
    float: none; }
  #similarproducts_inimg .more_button .question_mark {
    display: none; }
  #similarproducts_inimg .x {
    z-index: 1;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0px;
    top: 0px;
    opacity: 0.4;
    cursor: pointer;
    background: url("../images/inimg2/closeButtonx.png") center center no-repeat; }
  #similarproducts_inimg .x:hover {
    opacity: 1; }
  #similarproducts_inimg .partner_title {
    position: absolute;
    left: 9px;
    top: -11px;
    cursor: pointer;
    color: #777777;
    font-size: 9px; }
  #similarproducts_inimg .partner_title:hover {
    text-decoration: underline; }
  #similarproducts_inimg .item {
    position: relative;
    float: left;
    margin: 0px 4px 0px 0px;
    border: 1px solid #D4D4D4;
    padding: 0 1px; }
    #similarproducts_inimg .item .thumb_link {
      display: block;
      overflow: hidden; }
    #similarproducts_inimg .item .thumb_link img {
      border: 0 none;
      display: block; }
    #similarproducts_inimg .item .price_link {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      text-align: center;
      text-decoration: none !important;
      padding-top: 5px;
      font-size: 9px;
      color: black !important;
      text-overflow: ellipsis;
      overflow: hidden; }
    #similarproducts_inimg .item .thumb_label {
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 1px;
      line-height: 9px;
      z-index: 1; }
    #similarproducts_inimg .item .thumb_star {
      position: absolute;
      width: 55px;
      height: 11px;
      bottom: 0px;
      left: 50%;
      margin-left: -29.5px;
      background: white url("../images/inimg2/stars.png") left bottom repeat-x;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff; }
    #similarproducts_inimg .item .thumb_star:after {
      position: absolute;
      height: 11px;
      left: 0;
      top: 0;
      background: url("../images/inimg2/stars.png") left top repeat-x;
      content: ''; }
    #similarproducts_inimg .item .thumb_star.star_0 {
      display: none; }
    #similarproducts_inimg .item .thumb_star.star_10:after, #similarproducts_inimg .item .thumb_star.star_15:after, #similarproducts_inimg .item .thumb_star.star_5:after {
      width: 11px; }
    #similarproducts_inimg .item .thumb_star.star_20:after {
      width: 22px; }
    #similarproducts_inimg .item .thumb_star.star_25:after {
      width: 28px; }
    #similarproducts_inimg .item .thumb_star.star_30:after {
      width: 33px; }
    #similarproducts_inimg .item .thumb_star.star_35:after {
      width: 39px; }
    #similarproducts_inimg .item .thumb_star.star_40:after {
      width: 44px; }
    #similarproducts_inimg .item .thumb_star.star_45:after {
      width: 50px; }
    #similarproducts_inimg .item .thumb_star.star_50:after {
      width: 55px; }
    #similarproducts_inimg .item .item_info {
      display: none;
      position: absolute;
      bottom: -212px;
      left: -65px;
      width: 185px;
      height: 202px;
      background: url("../images/inimg2/itemImg2.png") no-repeat;
      text-decoration: none;
      z-index: 2; }
      #similarproducts_inimg .item .item_info .image {
        width: 135px;
        height: 135px;
        overflow: hidden;
        margin: 35px 0 0 25px;
        border: 0 none; }
      #similarproducts_inimg .item .item_info .image img {
        width: 135px;
        height: 135px;
        display: block;
        border: 0 none; }
      #similarproducts_inimg .item .item_info .item_info_label {
        position: absolute;
        width: 79px;
        height: 80px;
        left: 13px;
        top: 23px; }
      #similarproducts_inimg .item .item_info .stars {
        position: absolute;
        right: 30px;
        top: 38px;
        width: 55px;
        height: 11px;
        background: url("../images/inimg2/stars.png") left top repeat-x; }
      #similarproducts_inimg .item .item_info .stars div {
        height: 11px;
        background: url("../images/inimg2/stars.png") left bottom repeat-x; }
      #similarproducts_inimg .item .item_info .stars.star_50 div {
        width: 55px; }
      #similarproducts_inimg .item .item_info .stars.star_45 div {
        width: 49px; }
      #similarproducts_inimg .item .item_info .stars.star_40 div {
        width: 44px; }
      #similarproducts_inimg .item .item_info .stars.star_35 div {
        width: 38px; }
      #similarproducts_inimg .item .item_info .stars.star_30 div {
        width: 33px; }
      #similarproducts_inimg .item .item_info .stars.star_25 div {
        width: 27px; }
      #similarproducts_inimg .item .item_info .stars.star_20 div {
        width: 22px; }
      #similarproducts_inimg .item .item_info .stars.star_10 div, #similarproducts_inimg .item .item_info .stars.star_15 div, #similarproducts_inimg .item .item_info .stars.star_5 div {
        width: 11px; }
      #similarproducts_inimg .item .item_info .stars.star_0 {
        display: none; }
      #similarproducts_inimg .item .item_info .itemDetails {
        background: url("../images/inimg2/details_bg.png");
        border-radius: 5px 5px 0 0;
        color: #FFFFFF;
        height: 13px;
        left: 25px;
        overflow: hidden;
        padding: 6px 7px;
        position: absolute;
        top: 153px;
        width: 121px; }
        #similarproducts_inimg .item .item_info .itemDetails .brand {
          display: none;
          font-size: 14px;
          font-weight: bold;
          margin: 0 0 4px 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #similarproducts_inimg .item .item_info .itemDetails .merch_data {
          color: white !important;
          line-height: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          #similarproducts_inimg .item .item_info .itemDetails .merch_data .price {
            display: inline;
            font-size: 12px;
            color: white;
            font-weight: bold; }
          #similarproducts_inimg .item .item_info .itemDetails .merch_data .store {
            display: inline;
            font-size: 11px; }
        #similarproducts_inimg .item .item_info .itemDetails .visitStore {
          background: #B02641;
          border: 1px solid #81002B;
          color: white;
          font-size: 12px;
          margin: 10px auto 0 auto;
          padding: 2px;
          text-align: center;
          border-radius: 4px;
          box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
          width: 65px; }
    #similarproducts_inimg .item .item_info:hover .itemDetails {
      height: 64px;
      top: 102px; }
    #similarproducts_inimg .item .item_info:hover .itemDetails .brand {
      display: block; }
  #similarproducts_inimg .item:hover .item_info {
    display: block; }
  #similarproducts_inimg .item.free_shipping .thumb_label {
    display: block;
    background: #FFFFFF;
    content: "Free Shipping";
    font-size: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
  #similarproducts_inimg .item.free_shipping .item_info .item_info_label {
    background-image: url("../images/inimg2/inimg_tiles_en.png");
    background-position: -24px -112px;
    background-repeat: no-repeat; }
  #similarproducts_inimg .item.best_price .thumb_label {
    display: block;
    background: #D90F6B;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0 1px;
    font-size: 9px;
    text-align: center; }
  #similarproducts_inimg .item.best_price .thumb_label:before {
    border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    content: "";
    float: left;
    height: 0;
    width: 0; }
  #similarproducts_inimg .item.best_price .item_info .item_info_label {
    background-image: url("../images/inimg2/inimg_tiles_en.png");
    background-position: -24px -32px;
    background-repeat: no-repeat; }
  #similarproducts_inimg .item.free_shipping_and_best_price .thumb_label {
    display: block;
    background: #D90F6B;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0 1px;
    font-size: 9px;
    text-align: center; }
  #similarproducts_inimg .item.free_shipping_and_best_price .thumb_label:before {
    border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    content: "";
    float: left;
    height: 0;
    width: 0; }
  #similarproducts_inimg .item.free_shipping_and_best_price .item_info .item_info_label {
    background-image: url("../images/inimg2/inimg_tiles_en.png");
    background-position: -24px -192px;
    background-repeat: no-repeat; }

#similarproducts_inimg.mini .explore_button {
  display: none; }
#similarproducts_inimg.mini .partner_title {
  left: 5px; }
#similarproducts_inimg.mini .more_button {
  width: 24px;
  background-position: 6px 16px; }

#similarproducts_inimg.micro {
  height: 63px; }
  #similarproducts_inimg.micro .container {
    height: 57px; }
  #similarproducts_inimg.micro .explore_button {
    display: none; }
  #similarproducts_inimg.micro .partner_title {
    left: 0; }
  #similarproducts_inimg.micro .more_button {
    width: 24px;
    height: 45px;
    background: url("../images/inimg2/moretr.png") no-repeat 6px 12px; }
  #similarproducts_inimg.micro .more_button .label {
    font-size: 8px;
    top: 45%; }
  #similarproducts_inimg.micro .x {
    right: -2px;
    top: -2px; }
  #similarproducts_inimg.micro .item {
    width: auto;
    height: 54px;
    margin-right: 2px;
    border: 0 none;
    padding: 0; }
    #similarproducts_inimg.micro .item .thumb_link {
      width: 45px;
      height: 45px;
      border: 1px solid #d9d9d9; }
    #similarproducts_inimg.micro .item .thumb_link img {
      width: 45px;
      height: 45px; }
    #similarproducts_inimg.micro .item .price_link {
      width: 45px;
      padding-top: 2px; }
    #similarproducts_inimg.micro .item .thumb_label {
      display: none; }
    #similarproducts_inimg.micro .item .thumb_star {
      display: none; }
    #similarproducts_inimg.micro .item .item_info {
      left: -68px;
      top: 56px; }

#similarproducts_inimg.trusty {
  margin-top: -79px; }
  #similarproducts_inimg.trusty .container {
    padding: 2px;
    border: 1px solid #d9d9d9; }

#similarproducts_inimg.trusty.micro {
  margin-top: -63px; }

#similarproducts_inimg.conduit {
  margin-top: -79px;
  height: 79px;
  background: #FFFFFF;
  border: 1px solid #C70361;
  opacity: 0.9; }
  #similarproducts_inimg.conduit .container {
    position: static;
    height: 80px;
    background: none;
    opacity: 1;
    border-radius: 0; }
  #similarproducts_inimg.conduit .partner_title {
    background: white;
    color: #C70361;
    left: 3px; }
  #similarproducts_inimg.conduit .more_button {
    position: static; }
  #similarproducts_inimg.conduit .more_button .question_mark {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 1px;
    bottom: 1px;
    background: url("../images/inimg2/qButtonx.png") no-repeat;
    cursor: pointer; }

#similarproducts_inimg.generic_border .container {
  padding: 2px 2px 14px;
  border: 1px solid #d9d9d9; }

/* --- "See More" Buttons --- */
.see_more_button {
  position: absolute;
  display: inline-block;
  left: -200px;
  top: -200px;
  border: 1px solid #344b85;
  background: #edf4fe url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVBAMAAAB1fJk3AAAAHlBMVEXp8v7w9v7a6f7Q4/7t9P7e6/3T5f7W5/7i7v7l7/5TBnJkAAAAIUlEQVQI12MQAEMHIASBCUDYAIQBQKgAhAVAmACEBgwGAGh6BbFMd4X1AAAAAElFTkSuQmCC") left bottom repeat-x;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer; }
  .see_more_button .button_label {
    min-width: 79px;
    font: bold 12px/12px sans-serif;
    color: #0b1737 !important;
    text-align: center;
    padding: 5px 5px 4px 5px; }
  .see_more_button .button_progress {
    display: none;
    position: absolute;
    width: 0;
    height: 23px;
    left: 0;
    top: 0;
    background: #398AFD;
    opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); }

.see_more_button.hovered .button_label {
  background: white; }
.see_more_button.hovered .button_progress {
  display: block; }

.see_more_button.small .button_label {
  min-width: 50px; }

.see_more_button.orange {
  border: 0 none;
  background: #ff9422;
  opacity: 0.87;
  border-radius: 2px; }
  .see_more_button.orange .button_label {
    min-width: 91px;
    font-width: 600;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    padding: 8px; }

.see_more_button.hovered.orange {
  background: #ff9422;
  opacity: 1; }
  .see_more_button.hovered.orange .button_label {
    background: transparent; }
  .see_more_button.hovered.orange .button_progress {
    display: none; }

.see_more_button.small.orange .button_label {
  min-width: 68px;
  font: 600 16px/16px 'Open Sans', sans-serif;
  padding: 9px 5px; }

.see_more_button.seesimilar {
  background: #2b77fa;
  border: 1px solid #2b77fa;
  border-radius: 1px; }
  .see_more_button.seesimilar .button_label {
    color: white !important; }
  .see_more_button.seesimilar .button_progress {
    background: white; }

.see_more_button.hovered.seesimilar .button_label {
  background: transparent; }

/* --- "Searching" animations --- */
#sfImgAnalyzer.circle_anim {
  position: absolute;
  width: 72px;
  height: 72px;
  left: -200px;
  height: -200px; }

#sfImgAnalyzer.circle_anim div {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0;
  top: 0;
  background: url("../images/searching_animation.png") 0 0 no-repeat;
  z-index: 2; }

#sfImgAnalyzer.circle_anim:before {
  position: absolute;
  left: 36px;
  top: 36px;
  content: '';
  box-shadow: 0 0 50px 30px black;
  z-index: 1; }

#lenovo_optout_container {
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 1990000000; }

#lenovo_optout_iframe {
  display: block;
  width: 364px;
  height: 396px;
  border: 0 none; }

#lenovo_optout_x {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -5px;
  top: -5px;
  background: url("../images/lenovo_optout/btn_close.png") no-repeat;
  cursor: pointer; }

/* --- A/B tests --- */
#similarproducts_inimg.above_fold .item .item_info {
  top: -195px;
  background: url("../images/inimg2/itemImg3.png") no-repeat; }
  #similarproducts_inimg.above_fold .item .item_info .image {
    margin-top: 21px; }
  #similarproducts_inimg.above_fold .item .item_info .item_info_label {
    top: 11px; }
  #similarproducts_inimg.above_fold .item .item_info .stars {
    top: 26px; }
  #similarproducts_inimg.above_fold .item .item_info .itemDetails {
    top: 141px; }
#similarproducts_inimg.above_fold .item .item_info:hover .itemDetails {
  top: 90px; }

/* --- Full UI styles --- */
.similarproducts_full_ui {
  position: absolute;
  top: -1600px;
  left: -1440px;
  background: white;
  border: 1px solid #adacac;
  text-align: left;
  box-shadow: 8px 8px 8px -1px rgba(0, 0, 0, 0.5);
  z-index: 1990000000; }
  .similarproducts_full_ui .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    padding: 6px;
    font: bold 10px/10px sans-serif;
    color: white;
    background: #3a3939;
    border: 1px solid #989898;
    z-index: 10; }
  .similarproducts_full_ui .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -7px;
    margin-left: -6px;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #989898 transparent;
    border-style: solid; }
  .similarproducts_full_ui .tooltip:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -6px;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #3a3939 transparent;
    border-style: solid; }
  .similarproducts_full_ui #SF_FULL_UI_ARROW {
    position: absolute;
    width: 27px;
    height: 54px;
    background: url(../images/full_ui2/arrows.png) left top no-repeat; }
  .similarproducts_full_ui #SF_DRAGGABLE_1 {
    position: absolute;
    top: 0;
    height: 25px;
    width: 100%;
    cursor: move; }
  .similarproducts_full_ui #SF_CloseButton {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 5px;
    top: 5px;
    background: url("../images/full_ui2/x.png") center no-repeat;
    cursor: pointer; }
  .similarproducts_full_ui #SF_CloseButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear 0.5s;
    left: -13px;
    top: 19px; }
  .similarproducts_full_ui #SF_PLUGIN_CONTENT {
    overflow: hidden;
    clear: both;
    width: 557px;
    height: 438px;
    border-top: 1px solid #d5d5d5; }
  .similarproducts_full_ui #SF_INFO_CLOSE {
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 12px;
    top: 37px;
    background: url(../images/full_ui2/info_x.png) center no-repeat;
    cursor: pointer; }
  .similarproducts_full_ui #SF_INFO_TOOLTIP {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    left: 118px;
    top: 19px;
    border-color: transparent transparent rgba(70, 70, 70, 0.95);
    border-style: solid;
    border-width: 0 15px 15px; }
  .similarproducts_full_ui #infoBtn {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin: 6px 0 0 5px;
    background: url(../images/full_ui2/info_medium.png) center no-repeat;
    cursor: pointer; }
  .similarproducts_full_ui .partner_logo_link {
    position: relative;
    float: left;
    display: block;
    font: 600 normal 14px/14px 'Open Sans', sans-serif;
    color: #6e6e6e !important;
    margin: 7px 0 4px 12px;
    border: 0 none !important;
    text-decoration: none; }
  .similarproducts_full_ui .partner_logo_link:before {
    content: 'by '; }

#similarproducts_slideup {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -200px;
  text-align: left;
  z-index: 19000000; }
  #similarproducts_slideup .container {
    position: relative;
    background: #303030 url("../slideup2/images/bg.jpg") right top;
    padding: 0 50px;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.75); }
  #similarproducts_slideup .scroll_button {
    position: absolute;
    top: 0;
    width: 50px;
    height: 156px;
    cursor: pointer; }
    #similarproducts_slideup .scroll_button .arrow {
      position: absolute;
      width: 23px;
      height: 83px;
      top: 39px;
      background: url("../slideup2/images/scroll_arrows.png") no-repeat; }
  #similarproducts_slideup .scroll_button.left {
    left: 0; }
    #similarproducts_slideup .scroll_button.left .arrow {
      left: 15px;
      background-position: left top; }
  #similarproducts_slideup .scroll_button.right {
    right: 0; }
    #similarproducts_slideup .scroll_button.right .arrow {
      right: 15px;
      background-position: right top; }
  #similarproducts_slideup .scroll_button.left:hover {
    background: rgba(0, 0, 0, 0.5); }
    #similarproducts_slideup .scroll_button.left:hover .arrow {
      background-position: left bottom; }
  #similarproducts_slideup .scroll_button.right:hover {
    background: rgba(0, 0, 0, 0.5); }
    #similarproducts_slideup .scroll_button.right:hover .arrow {
      background-position: right bottom; }
  #similarproducts_slideup .scroll_button.hidden {
    display: none; }
  #similarproducts_slideup .items_scroller_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 106px;
    padding: 25px 0; }
    #similarproducts_slideup .items_scroller_container .items_scroller {
      position: absolute;
      height: 106px; }
  #similarproducts_slideup .slideup_item {
    float: left;
    width: 280px; }
    #similarproducts_slideup .slideup_item .item_inner {
      position: relative;
      height: 106px;
      margin: 0px 10px;
      color: white;
      font-family: 'Open Sans',sans-serif;
      cursor: pointer;
      text-shadow: 0 2px 2px black; }
    #similarproducts_slideup .slideup_item .item_image {
      position: relative;
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      background: white;
      padding: 3px;
      border-radius: 3px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
      #similarproducts_slideup .slideup_item .item_image .image_zoom {
        position: absolute;
        left: 3px;
        top: 3px;
        width: 100px;
        height: 100px;
        /*transition:all 0.5s;*/ }
      #similarproducts_slideup .slideup_item .item_image img {
        display: block;
        width: 100%;
        height: 100%; }
    #similarproducts_slideup .slideup_item .feature_label {
      position: absolute;
      width: 79px;
      height: 80px;
      left: -4px;
      top: -3px;
      background: url(../slideup2/images/features.png) left top no-repeat; }
    #similarproducts_slideup .slideup_item .feature_label.best_price {
      background-position: left -80px; }
    #similarproducts_slideup .slideup_item .feature_label.free_shipping {
      background-position: left -160px; }
    #similarproducts_slideup .slideup_item .stars {
      display: inline-block;
      width: 55px;
      height: 11px;
      background: url("../slideup2/images/stars.png") left bottom repeat-x; }
    #similarproducts_slideup .slideup_item .stars div {
      height: 11px;
      background: url("../slideup2/images/stars.png") left top repeat-x; }
    #similarproducts_slideup .slideup_item .stars.star_50 div {
      width: 55px; }
    #similarproducts_slideup .slideup_item .stars.star_45 div {
      width: 49px; }
    #similarproducts_slideup .slideup_item .stars.star_40 div {
      width: 44px; }
    #similarproducts_slideup .slideup_item .stars.star_35 div {
      width: 38px; }
    #similarproducts_slideup .slideup_item .stars.star_30 div {
      width: 33px; }
    #similarproducts_slideup .slideup_item .stars.star_25 div {
      width: 27px; }
    #similarproducts_slideup .slideup_item .stars.star_20 div {
      width: 22px; }
    #similarproducts_slideup .slideup_item .stars.star_10 div, #similarproducts_slideup .slideup_item .stars.star_15 div, #similarproducts_slideup .slideup_item .stars.star_5 div {
      width: 11px; }
    #similarproducts_slideup .slideup_item .stars.star_0 {
      display: none; }
    #similarproducts_slideup .slideup_item .item_info {
      padding-top: 10px; }
      #similarproducts_slideup .slideup_item .item_info .item_title {
        position: relative;
        max-height: 36px;
        margin-bottom: 3px;
        overflow: hidden;
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        color: white;
        line-height: 18px; }
      #similarproducts_slideup .slideup_item .item_info .bottom_fixed {
        position: absolute;
        left: 116px;
        bottom: 5px; }
      #similarproducts_slideup .slideup_item .item_info .item_price {
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        color: #ffba00; }
      #similarproducts_slideup .slideup_item .item_info .store_name {
        font-size: 11px;
        font-family: 'Open Sans',sans-serif;
        color: #a0a0a0;
        margin-top: 2px; }
  #similarproducts_slideup .slideup_item:hover {
    /*.item_image .image_zoom {left:-15px; top:-15px; width:130px; height:130px; transition:all 0.5s;}*/ }
    #similarproducts_slideup .slideup_item:hover .item_title {
      text-decoration: underline; }
  #similarproducts_slideup .partner_title {
    position: absolute;
    right: 60px;
    bottom: 5px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer; }
  #similarproducts_slideup .partner_title:hover {
    text-decoration: underline; }
  #similarproducts_slideup .collapse {
    position: absolute;
    width: 45px;
    height: 25px;
    right: 56px;
    top: -12px;
    background: url("../slideup2/images/collapse.png") left top no-repeat; }
  #similarproducts_slideup .collapse div {
    position: absolute;
    width: 37px;
    height: 16px;
    left: 4px;
    top: 0px;
    background: url("../slideup2/images/collapse.png") -4px 0px no-repeat;
    cursor: pointer; }
  #similarproducts_slideup .collapse div:hover {
    background-position: -4px -25px; }
  #similarproducts_slideup .expand {
    display: none;
    position: absolute;
    width: 37px;
    height: 16px;
    right: 60px;
    top: -16px;
    background: url("../slideup2/images/expand.png") left top no-repeat;
    cursor: pointer; }
  #similarproducts_slideup .expand:hover {
    background-position: left bottom; }
  #similarproducts_slideup .collapsed_popup {
    position: absolute;
    visibility: hidden;
    right: 50px;
    top: -30px;
    background: #c41a1a;
    border: 1px solid #9d1111;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s, top 0.3s; }
    #similarproducts_slideup .collapsed_popup .message {
      float: left;
      margin: 1px 5px 1px 3px;
      color: #fdcbcb;
      font-family: 'Open Sans',sans-serif;
      font-size: 11px;
      font-weight: 600; }
    #similarproducts_slideup .collapsed_popup .message b {
      display: inline;
      color: white;
      font-weight: bold;
      cursor: pointer; }
    #similarproducts_slideup .collapsed_popup .message b:hover {
      text-decoration: underline; }
    #similarproducts_slideup .collapsed_popup .x {
      float: right;
      width: 15px;
      height: 15px;
      background: url("../slideup2/images/popup_x.png") center no-repeat;
      cursor: pointer; }
    #similarproducts_slideup .collapsed_popup .x:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 2px; }
  #similarproducts_slideup .collapsed_popup:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 9px;
    right: 20px;
    bottom: -9px;
    background: url("../slideup2/images/popup_tip.png") no-repeat; }

#similarproducts_slideup.collapsed .collapse {
  display: none; }
#similarproducts_slideup.collapsed .expand {
  display: block; }

#similarproducts_slideup.collapsed.hidden .collapsed_popup {
  opacity: 1;
  top: -55px;
  visibility: visible;
  transition: opacity 0.3s, top 0.3s; }

#_sf_slideup_spacer {
  height: 156px; }

