#box1 {
    width : 800px;
    height: 400px;
    background-color : red;
}
#box2 {
    width : 800px;
    height: 400px;
    background-color : blue;
}

#box21 {
    width : 100%;
    height: 100px;
    background-color: yellow;
}

#box22 {
    width : 100%;
    height: 50px;
    padding-top: 200px;
    background-color: green;
}
