::-webkit-input-placeholder {
  color: #aaa;
}

div::before,div::after {
	content: 'some extra content here';
}
div ::-moz-focus-inner{
	padding: 0;
}
div:visited{
	color: blue;
}
div:first-letter{
  font-size: 4em;
}
div:first-line {
  font-style: italic;
}
